.footer__title {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #181A3F;
    margin: 0;
}